<div class="modal-header">
    <h4 class="modal-title">{{titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p><strong>{{texto}}</strong></p>
    <p *ngIf="detalle">
        <textarea class="form-control" rows="10" cols="50" readonly>{{detalle}}</textarea>
    </p>
    <ul *ngIf="errors">
        <li *ngFor="let error of errors">
            {{ error.error }}
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">Cerrar</button>
</div>