<div style="padding-top: 150px;">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card">
            <h4 class="card-header">
                <div class="row row-container align-items-center">
                    <div class="col-md-12 text-center">
                        Cambio de Contraseña
                    </div>
                </div>
            </h4>
            <div class="card-body">
                <form #forma="ngForm" (ngSubmit)="save(forma)">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" [(ngModel)]="userChangePassword.oldPassword" name="oldPassword" autocomplete="new-password" placeholder="Current Password" class="form-control" pattern=".{4,}" required [ngClass]="{'is-invalid': (forma.controls['oldPassword']?.touched && forma.controls['oldPassword']?.errors ) }">
                                </div>
                                <div class="help-block with-errors text-danger"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" [(ngModel)]="userChangePassword.newPassword" name="newPassword" autocomplete="new-password" placeholder="New Password" class="form-control" pattern=".{4,}" required [ngClass]="{'is-invalid': (forma.controls['newPassword']?.touched && forma.controls['newPassword']?.errors ) }">
                                </div>
                                <div class="help-block with-errors text-danger"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" [(ngModel)]="userChangePassword.confirmPassword" name="confirmPassword" autocomplete="new-password" placeholder="Confirm Password" class="form-control" pattern=".{4,}" required [ngClass]="{'is-invalid': (forma.controls['newPassword']?.touched && userChangePassword.confirmPassword !== userChangePassword.newPassword ) }">
                                </div>
                                <div class=" help-block with-errors text-danger "></div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <button type="submit " name="button " class="btn btn-primary btn-lg btn-block " [disabled]="forma.invalid || loading || userChangePassword.confirmPassword !== userChangePassword.newPassword  ">
                                    <i class="fa " [ngClass]="{ 'fa-refresh fa-spin':loading} "></i>
                                    Guardar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clear "></div>
            </div>
        </div>
    </div>
</div>

<app-toast></app-toast>

<!--
    <div class="wrapper ">
    <form class="change-password " method="POST " action="changePassword!change " id="formUser ">
        <p class="title text-center ">Cambio de Contraseña</p>
        <input type="password " placeholder="Current Password ">
        <i class="fa fa-key "><span class="glyphicon glyphicon-lock "></span></i>
        <input type="password " placeholder="New Password ">
        <i class="fa fa-key "><span class="glyphicon glyphicon-lock "></span></i>
        <input type="password " placeholder="Confirm New Password ">
        <i class="fa fa-key "><span class="glyphicon glyphicon-lock "></span></i>
        <button id="confirm "> 
		    <span class="state ">Guardar</span>
		</button>
    </form>
</div>
-->